html {
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 1);
    font-family: "Roboto", sans-serif;
    color: #595959;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#lnombre, #lapellido{
    color: saddlebrown;
}

